@import "./fonts.css";

body {
  font-family:  "Poppins","IRANSansfanum", sans-serif;
}
html[lang="fa"] body {
  font-family: "IRANSansfanum", "Poppins", sans-serif;
}

@import 'tailwindcss';

@theme{
  --font-sans: "IRANSansfanum", "Poppins", sans-serif
}
